# ---------------------------
# Arquivos de build e binários
# ---------------------------
*.class
*.log
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ---------------------------
# IDEs
# ---------------------------

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# ---------------------------
# Arquivos do sistema
# ---------------------------
# Mac OS
.DS_Store

# Windows
Thumbs.db

# ---------------------------
# Outros arquivos
# ---------------------------
HELP.md
